*{
    margin: 0px;
    padding: 0px;
}

.chessboard{
    margin: 90px 0px 0px 300px;
    width: 1000px;
    background-color: grey;
    border: 5px;
    border-style: solid;
    border-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1a0512;
    font-size: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.row1{
    display: flex;
    flex-direction: row;
}

.row2{
    display: flex;
    flex-direction: row;
}


.black{
    width: 200px;
    height: 200px;
    background-color: #1a0512;
    text-align: center;
    vertical-align: baseline;
    background:linear-gradient(rgb(60, 5, 74), rgb(4, 54, 71));
    
}


.white{
    width: 200px;
    height: 200px;
    background-color: #0e5d7b;
    text-align: center;
    background:linear-gradient(white, rgb(23, 95, 120));
}

