


*{
  color: whitesmoke;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
body {
  margin: 0;
  padding: 0;
	background: linear-gradient(45deg, #062539, #440223, #580770, #021726);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
 }

  .hero-sect{
    display: flex;
    margin: 5px;
    justify-content: left;
    justify-content: space-between;
  }

  h1{
    padding: 30px 30px 0px 60px;
    font-size: 50px;

  }
  h3 {
    display: flex;
    padding: 0px 20px 0px 70px;
    font-size: 30px;
    margin-bottom: 0px;
}

p{
  padding-left: 70px;
  justify-content: center;
}

.intro{
  padding-left: 0px;
  justify-content: center;
}

button.cta{
  padding: 17px;
  margin: 30px 0px 10px 70px;
  background-color: #2370b8b4;
  border-style: hidden;
  border-radius: 5px;
}

.right-col{
  justify-content: right;
  z-index: 1;
  height: 120%;
}


span::before {
    content: "a Product Designer";
    animation: animate infinite 5s;
    padding-left: 5px;
    color: whitesmoke;
}

@keyframes animate {

    0% {
        content: "an Animator";
    }

    50% {
        content: "an Illustrator";
    }

    75% {
        content: "a Digital Marketer";
    }
}




 /*socials -
 .soc{
  position: fixed;
  width: 70px;
  margin-top: 50px;
  transition: all 0.3s linear;
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,.4);
}
.soc li{
  height: 60px;
  position:relative;
}
.soc li a{
  color: white;
  display: block;
  height: 100%;
  width: 100%;
  line-height: 60px;
  padding-left:25%;
  border-bottom: 1px solid rgba(0,0,0,.4);
  transition: all .3s linear;
}
.soc li:nth-child(1) a{
  background: #4267B2;
}
.soc li:nth-child(2) a{
  background: #1DA1F2;
}
.soc li:nth-child(3) a{
  background: #E1306C;
}
.soc li:nth-child(4) a{
  background: #2867B2;
}
.soc li:nth-child(5) a{
  background: #333;
}
.soc li:nth-child(6) a{
  background: #ff0000;
}
.soc li a i{
  position:absolute;
  top: 17px;
  left: 20px;
  font-size: 27px;
}  */










  /*About Page CSS*/
  p.intro{
    font-size: 20px;
    margin-left: 60px;
  }

  .top-section{
    display: flex;
    justify-content: left;
    justify-content: space-between;
  }

  .right-col-1{
    float: right;
  }



  /*Contact Page*/
input{
  color: black;
}